<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hola.shoppingapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Como es una subclase de Aplication, android lo iniciará cuando cree la aplicación -->
    <!-- El punto significa que usa el default package -->
    <application
        android:name=".TiendasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditTienda"
            android:label="@string/title_activity_edit_tienda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MenuFrecuencia" />

        <service
            android:name=".service.backup.BackupIntentService"
            android:exported="false" />

        <provider
            android:name=".TiendasContentProvider"
            android:authorities="com.example.hola.shoppingapp"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>